*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:#FDF9E9;
}
.logo{
    justify-content: center;
    display: flex;
    margin-top: 18px;

}
.logo img {
    width: 120px;
    height: 90px;
    padding: 12px;

    border-radius: 15px;


}
h2,.span{
    display: none;
}
form {
    text-align: center;
    border-radius: 6px;
    margin: 10px;
    margin-bottom: 20px;

}
input[type=text]{
    border-radius: 8px;
    padding: 12px;
    width: 270px;
    border-color: #DE834D;
}
.prixe input[type=number]{
    border-radius: 8px;
    padding: 12px;
    width: 118px;
    margin: 3px;
    border-color: #DE834D;
    justify-content: space-around;
    
}
input[type=number]{
  
    border-radius: 8px;
    padding: 12px;
    width: 270px;
    border-color: #DE834D;
}
.prixe{
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}


label{
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: left;
    margin-left: 60px;
    font-size: 15px;
    margin-bottom: 10px;
}
h1{
    margin-bottom: 5px;
}
nav{
    display: none;
}
.type{
    margin-top: 15px;
}
select{
    border-radius: 8px;
    padding: 12px;
    width: 298px;
    border-color: #DE834D;
}
input[type=checkbox] , span{
    align-items: center;

}
input[type=checkbox]{
    height: 30px;
    width: 20px;
  }
span{
    font-size: 16px;
    font-weight: bold; 
    padding-left: 10px;
}
.check{
    align-items: center;
    display: flex;
    margin-left: 60px;
    margin-bottom: 20px;
}
input[type=submit]{
    border-radius: 8px;
    padding: 14px;
    color: white;
    font-weight: bold;
    width: 290px;
    font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: black; 

}
footer{
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (min-width:1114px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url('images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }
    header{
        display: flex;
        background-color: #373737;
        height: 49px;
    }
    header nav ol li {
        list-style-type: none;
        font-weight: bold;
        font-size: 17px;
        padding-left: 25px;
        margin-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    .logo{
        justify-content: start;
        margin: 0px;
        width: 120px;
    }
    .logo img{
        width: 80px;
        height: 39px;
        padding: 2px;
        
        border-radius: 0px;
    }
    nav {
        display: flex;
    }
    header nav{
        justify-content: center;
        text-align: center;
        margin-left: 260px;
        
        
     }
     nav ol{
         display: flex;
         
     }
     nav ol li a{
         color: white;
         padding: 10px;
         text-decoration: none;     
     }
     nav ol li a:hover{
         text-decoration: underline;
         color:#F1D56B ;
     }
    
     footer {
         display: none;
        
     }
     h1{
         display: none;
     }
     .span{
         display: flex;
         margin-left: 46px;
         margin-bottom: 11px;
     }
     form{
         background-color:#5c5955b2;
         max-width: 400px;
         justify-content: center;
         margin: auto;
         height: auto;
         margin-top: 35px;
         border-radius: 10px;
     }
     label , .span {
         color: white;
         font-weight: bold;
         text-decoration: underline;
         font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
     }
      label .prix{
        font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: tomato;
 
     }
     .check span{
        color: white;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
     }
     .chambre{
    border-radius: 15px;
    padding: 12px;
    width: 270px;
    border-color: #DE834D;
    margin-left: 45px;
}
    .type{
        margin-top: 0;
    }
    input[type=submit]{
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 290px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f7d55d;
    margin-bottom: 19px;

}
.check{
    margin-bottom: 7px;
}
}
@media screen  and (min-width:2480px){
    form{
        margin-top: 90px;
     }   
}
